nsupdate dnsapi - incorrect default for NSUPDATE_SERVER

In the absence of a defined `NSUPDATE_SERVER`, `dns_nsupdate.sh` should not assume localhost but instead should allow nsupdate to resolve the master server automatically.

nsupdate will detect the required server to issue an update, as per it's man page:

> When no server statement is provided, nsupdate will send updates to the master server of the correct zone. The MNAME field of that zone's SOA record will identify the master server for that zone.

This behavior is expected as per RFC 2136, section 4.3:

> If the requestor has reasonable cause to believe that all of a zone's servers will be equally reachable, then it should arrange to try the primary master server (as given by the SOA MNAME field if matched by some NS NSDNAME) first to avoid unnecessary forwarding inside the slave servers.
