acme.sh ignores "retry-after" header when polling order status

Hi,
 
I am using acme.sh with Non-Letsencrypt server implementation. Certificate enrollment and revocation works as such except for a corner case in which certificate issuance needs to be manually approved by the CA administrator.
 
In such a case the acme-server will mark the status of the order-resource as "processing" and returns a "Retry-After" header as part of the response to an order status polling request. (like what is described in RFC 8555 section 7.4).

acme.sh the detects the status of the order (“Order status is processing, lets sleep and retry.”) and enters a kind of polling mode but seems to ignore the retry-header and polls the acme-server very few seconds.

Is there any chance to influence the polling interval or set the polling interval to the retry-after value given in the response of the order-request?

Logs from acme.sh and header information from server-responses are attached. If you need further information just let me know.

Thank you for your help and have nice weekend.

/GrindSa

[acme.sh.log](https://github.com/acmesh-official/acme.sh/files/4640036/acme.sh.log)

[header.log](https://github.com/acmesh-official/acme.sh/files/4640038/header.log)


can you please try with the `retry` branch, and let me know if it works for you.

```
acme.sh --upgrade -b retry
```


Hi,
I checked the dev-branch this morning and the behavior did not change. So I started some debugging and figured out that you put your changes to a wrong place (retry-after header will be send as part of the response to an order-resource request).  Further, your regex to get the _retryafter timeout did not work for me. 

I could get it working with some smaller changes.  Please find a diff of my changes attached. If you want me to file a PR against your dev branch just let me know.

/G

[retry.diff.txt](https://github.com/acmesh-official/acme.sh/files/4666151/retry.diff.txt)


please try again:
```
acme.sh  --upgrade -b dev
```

Thx. But it is still not working as the retry-timer will be send as part of a response to an order-finalization request.

Let me create a PR on this. 