DST Root CA X3 has expired

My certificate has stopped being read on android 7, apparently due to DST Root CA X3 which has expired ... https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/
how do i fix this?

Old clients probably fail because they trip up on the second verfication path which still includes the expired root.

![image](https://user-images.githubusercontent.com/11341130/135583048-7c054511-2129-4290-8393-7432689bc723.png)

I don't know how to fix that without manual intervention though. Why is it still included at all?

I think that's the same issue as #3724. The solutions are:

1. remove the `ISRG Root X1` from the chain file
2. or include the proper and newer `ISRG Root X1` which is now self-signed.

We, too, have reported a large number of errors online. At present, we don't know the solution. Is there a boss who has a solution?

> We, too, have reported a large number of errors online. At present, we don't know the solution. Is there a boss who has a solution?

For existing chain files, remove the last certificate (```ISRG Root X1``` cross-signed/issued by ```DST Root CA X3```) from the file then restart the service(s) using the chain file.

For renewals, make sure you're running a recent version of ```acme.sh```, change to the data directory (e.g. ```~/.acme.sh```) and add the following (I think it's correct) to the ```.conf``` configuration file for each certificate/CN to specify your [preferred chain](https://github.com/acmesh-official/acme.sh/wiki/Preferred-Chain) chains to ```ISRG Root X1```:

```
Le_Preferred_Chain='ISRG Root X1'
```

---

> I don't know how to fix that without manual intervention though. Why is it still included at all?

The idea was that, because some older Android devices don't have the ISRG Root X1 certificate in their certificate store, and Android doesn't/didn't check when CA certificates expire when validating chains, and clients should support validating multiple certificate chains to find a chain they trust, having ISRG Root X1 cross-signed until its expiry and included in the default chain files shouldn't cause any issues.

> **After September 29, 2021**
> 
> Our default chain and alternate chain will not change, but DST Root CA X3 will expire. Android devices as far back as 2.3.6 will continue to work. Non-Android devices that aren't getting system updates will show certificate errors. On some platforms, using Firefox will be a workaround, since Firefox gets updates even on many out-of-date OSes.
> 
> We will periodically issue new intermediates to replace E1, E2, R3, and R4. These intermediates will be signed by ISRG Root X1 or ISRG Root X2, as appropriate to their key type.
> &mdash; https://community.letsencrypt.org/t/production-chain-changes/150739

The problem with the idea was the assumption most/all clients support multiple certificate chains. [RFC 8446 Section 4.4.2](https://datatracker.ietf.org/doc/html/rfc8446#section-4.4.2) contains a ```SHOULD``` rather than a ```MUST```, though, so some TLS clients decided they didn't want to implement "maximum compatibility":

> Note: Prior to TLS 1.3, certificate_list ordering required each
> certificate to certify the one immediately preceding it; however,
> some implementations allowed some flexibility.  Servers sometimes
> send both a current and deprecated intermediate for transitional
> purposes, and others are simply configured incorrectly, but these
> cases can nonetheless be validated properly.  For maximum
> compatibility, all implementations SHOULD be prepared to handle
> potentially extraneous certificates and arbitrary orderings from any
> TLS version, with the exception of the end-entity certificate which
> MUST be first.

The chain was returned by letsencrypt CA.

you can select the chain by --preferred-chain.
https://github.com/acmesh-official/acme.sh/wiki/Preferred-Chain

Thanks! --preferred-chain did the job.

I am using certificate to use shadowsocks with v2ray plugin over tls protocol.
It is not entirely clear to me what needs to be done, since I have not completely mastered the work of acme.
Should I revoke the certificate and recreate it using --preferred-chain ???